html,
body {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #edf9fd;
  letter-spacing: 1px;
}

html *,
body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html .btn,
body .btn {
  text-transform: uppercase;
  height: 3rem;
  cursor: pointer;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: #2b1f3f;
  color: white;
  border-style: none;
  letter-spacing: inherit;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

html .btn:hover,
body .btn:hover {
  background-color: #c2dde0;
  color: #2b1f3f;
}

html input[type],
body input[type] {
  border-style: none;
  height: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0 1rem;
}

html input[type]:focus,
body input[type]:focus {
  outline-style: solid;
  outline-color: #c2dde0;
  letter-spacing: 1.2px;
}

.login-page {
  background: #2c3f8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 6rem;
}

.login-page__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page__img--img {
  width: 400px;
}

.login-page__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(200, 205, 223, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

.login-page__form--title {
  text-transform: uppercase;
  margin: 2rem 0;
}

.login-page__form--title h2 {
  margin-bottom: 1rem;
}

.login-page__form--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.login-page__form--form label {
  margin: 1rem 0;
}

.login-page__form--form a {
  text-align: right;
}

.login-page__form--form a:visited {
  color: inherit;
}

.login-page__form--error {
  display: none;
  color: red;
  margin-top: -0.6rem;
}

.login-page__form--error.active {
  display: block;
}

.list-product {
  color: #2b1f3f;
  padding: 5px;
}

.list-product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.list-product__table {
  border-collapse: collapse;
}

.list-product__table .table-head {
  text-align: center !important;
  background-color: #eeeeee;
}

.list-product__table .table-head, .list-product__table .table-body {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  min-width: 150px;
}

.list-product__table .table-head .table-body__no, .list-product__table .table-head .table-head__no, .list-product__table .table-body .table-body__no, .list-product__table .table-body .table-head__no {
  min-width: 0 !important;
}

.list-product__table .table-head .table-body__photo--container, .list-product__table .table-body .table-body__photo--container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.list-product__table .table-head .table-body__photo--container .table-body__photo--image, .list-product__table .table-body .table-body__photo--container .table-body__photo--image {
  height: 50px;
  width: auto;
}

.list-product__table .table-head .table-body__description--container, .list-product__table .table-body .table-body__description--container {
  max-height: 60px;
  overflow: hidden;
}

.list-product__table .table-head .table-body__action--container, .list-product__table .table-body .table-body__action--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popups-crud {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 10px;
}

.popups-crud__container {
  background-color: gray;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popups-crud__container input {
  border-radius: 0 !important;
  margin-top: 5px;
}

.popups-crud__container #image-product {
  margin-left: -15px;
  max-width: 300px;
}

.popups-crud__container #image-product:focus {
  outline: 0;
}

.popups-crud .popups-button__save {
  background-color: #5762b7;
  color: white;
  padding: 5px;
  margin-right: 5px;
}

.popups-crud .popups-button__delete {
  background-color: #f75f5f;
  color: white;
  padding: 5px;
}

@media screen and (max-width: 414px) {
  html,
  body {
    font-size: 14px;
  }
  html .login-page,
  body .login-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: unset;
  }
  html .login-page__img,
  body .login-page__img {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    padding: 1rem;
  }
  html .login-page__img--img,
  body .login-page__img--img {
    width: 200px;
    height: 200px;
  }
  html .login-page__form,
  body .login-page__form {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    height: unset;
    margin: 3rem 0;
  }
  html .login-page__form--form,
  body .login-page__form--form {
    width: 100%;
  }
  html .table-body, html .table-head,
  body .table-body,
  body .table-head {
    min-width: 75px !important;
  }
}
